body{
    background:rgb(255, 255, 255);
}
.material-icons.orange600 { 
    color: #c2c2c2; 
}
nav ul a{
    font-size:medium; 
}
nav{
    background-color:rgb(255, 28, 28);
  }
.sidenav{
    width: 120px;
    height: 99%;
    background: rgba(158, 158, 158, 0.5);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 2px;
    border-left:1px solid rgba(192, 192, 192, 0.2);
    }
.sidenav li a{
    color: #bdc2cd;
    font-size: 14px;
    padding: 0 8px 0 15px;
}

.sidenav .divider{
    background-color: rgba(90, 134, 194, 0.9);
    margin: 10px 10px 0px 5px;
    height: 0.5px;
}
nav a{
    color:#ffffff
}
.sidenav li a i.material-icons{
    color:#bdc2cd;
    margin:0 8px 0 0;
}
div.gray_section_red{
    background-color:rgb(255, 28, 28);
    height: 40px;
    margin:0 0 0 0;
    position: relative;
}






